@use 'reset';
@use 'vars';

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  background: vars.$background-gradient;  
  text-align: center;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
