@use 'reset';
@use 'vars';

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: white;
  background: vars.$background-gradient;  
  text-align: center;
  box-sizing: border-box;
  font-size: 2.5rem;
}


/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
