@use 'src/styles/vars';

.result {
  display: flex;
  margin-top: 50px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  
  @include vars.mobile {
    max-width: 350px;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
     
}

  &__you {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;

    @include vars.mobile {
      margin-right: 0.5rem;
      width: 100%;

   }

    .text {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 2.5rem;

      @include vars.mobile {
        font-size: 0.9rem;
        
          
     }
    }

    

    .icon {
      height: 250px;
      width: 250px;
      border:18px solid;
      border-radius: 50%;
      padding: 30px;
      align-items: center;
      background-color: white;
      transition: transform 0.2s;

      @include vars.mobile {
        width: 90px;
        height: 90px;
        border: 9px solid;
        padding: 15px;
        
          
     }
      &--rock{
        background-image: url(../../../images/icon-rock.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-color: vars.$rock-gradient;
        box-shadow: inset 0px 5px 7px grey, 
        0px 10px darken(vars.$rock-gradient, 20%);
        /* transform: translateX(1rem); */
        
        &--winner {
          box-shadow:inset 0px 5px 6px grey, 
          0px 8px darken(vars.$rock-gradient, 15%),
          0px 0px 0px 50px rgba(#ffffff, .07),
          0px 0px 0px 100px rgba(#ffffff, .05),
          0px 0px 0px 150px rgba(#ffffff, .025),;
          }
        
      }

      &--paper{
        background-image: url(../../../images/icon-paper.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-color: vars.$paper-gradient;
        box-shadow: inset 0px 5px 7px grey, 
        0px 10px darken(vars.$paper-gradient, 20%);
        /* transform: translateX(8rem); */

        &--winner {
          box-shadow:inset 0px 5px 6px grey, 
          0px 8px darken(vars.$paper-gradient, 15%),
          0px 0px 0px 50px rgba(#ffffff, .07),
          0px 0px 0px 100px rgba(#ffffff, .05),
          0px 0px 0px 150px rgba(#ffffff, .025),;
        }
      }

      &--scissors{
        background-image: url(../../../images/icon-scissors.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-color: vars.$scissors-gradient;
        box-shadow: inset 0px 5px 7px grey, 
        0px 10px darken(vars.$scissors-gradient, 20%);
        /* transform: translateX(-9.5rem) translateY(15rem) */;

        &--winner {
          box-shadow:inset 0px 5px 6px grey, 
          0px 8px darken(vars.$scissors-gradient, 15%),
          0px 0px 0px 50px rgba(#ffffff, .07),
          0px 0px 0px 100px rgba(#ffffff, .05),
          0px 0px 0px 150px rgba(#ffffff, .025),;
        }
      }
    }
  }

  &__play {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    @include vars.mobile {
      margin: 0;      
   }

    .text {
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 30px;

      @include vars.mobile {
        font-size: 1.5rem;
        width: 100%;
        justify-content: center;
        align-items: center;

        
          
     }
    }

    .play-again{
      background-color: white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
      color: vars.$score-text;

      @include vars.mobile {
        padding: 5px 10px;
        font-size: 1.2rem;
          
     }

      &:hover {
        color: green;
        transition: transform 0.2s;
        transform: scale(1.05);
      }
    }
  }

  &__opponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2rem;

    @include vars.mobile {
      margin-left: 0.5rem;
      width: 100%;
     
   }
    

    .text {
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 300;
      margin-bottom: 2.5rem;

      @include vars.mobile {
        font-size: 0.9rem;
        
          
     }
    }

    .icon {
      height: 250px;
      width: 250px;
      border:18px solid;
      border-radius: 50%;
      padding: 30px;
      align-items: center;
      background-color: white;
      transition: transform 0.2s;

      @include vars.mobile {
        width: 90px;
        height: 90px;
        border: 9px solid;
        padding: 15px;
        
          
     }
      &--rock{
        background-image: url(../../../images/icon-rock.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-color: vars.$rock-gradient;
        box-shadow: inset 0px 5px 7px grey, 
        0px 10px darken(vars.$rock-gradient, 20%);
        /* transform: translateX(1rem); */

        &--winner {
          box-shadow:inset 0px 5px 6px grey, 
          0px 8px darken(vars.$rock-gradient, 15%),
          0px 0px 0px 50px rgba(#ffffff, .07),
          0px 0px 0px 100px rgba(#ffffff, .05),
          0px 0px 0px 150px rgba(#ffffff, .025),;
        }
      }

      &--paper{
        background-image: url(../../../images/icon-paper.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-color: vars.$paper-gradient;
        box-shadow: inset 0px 5px 7px grey, 
        0px 10px darken(vars.$paper-gradient, 20%);
        /* transform: translateX(8rem); */

        &--winner {
          box-shadow:inset 0px 5px 6px grey, 
          0px 8px darken(vars.$paper-gradient, 15%),
          0px 0px 0px 50px rgba(#ffffff, .07),
          0px 0px 0px 100px rgba(#ffffff, .05),
          0px 0px 0px 150px rgba(#ffffff, .025),;
        }
      }

      &--scissors{
        background-image: url(../../../images/icon-scissors.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        border-color: vars.$scissors-gradient;
        box-shadow: inset 0px 5px 7px grey, 
        0px 10px darken(vars.$scissors-gradient, 20%);
        /* transform: translateX(-9.5rem) translateY(15rem) */;

        &--winner {
          box-shadow:inset 0px 5px 6px grey, 
          0px 8px darken(vars.$scissors-gradient, 15%),
          0px 0px 0px 50px rgba(#ffffff, .07),
          0px 0px 0px 100px rgba(#ffffff, .05),
          0px 0px 0px 150px rgba(#ffffff, .025),;
        }
      }
    }

    .counter {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      background-color: rgba(#000000, .2);
      font-size: 8rem;
      
      @include vars.mobile {
        width: 90px;
        height: 90px;
        font-size: 4rem;
          
     }
    }

  }
}
