@use 'src/styles/vars';

.header {
  display: flex;
  border: 3px solid vars.$header-outline;
  max-width: 700px;
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  padding: 20px;
  justify-content: space-between;

  @include vars.mobile {
    max-width: 300px;
    align-items: center;
    
}
}

.text {
  display: flex;
  font-size: 2.5rem;
  text-transform: uppercase;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2rem;
  
  @include vars.mobile {
    font-size: 1.5rem;
    
}
}

.your-score {
  padding: 12px 40px;
  background-color: white;
  color: vars.$score-text;
  border-radius: 10px;

  @include vars.mobile {
    padding: 6px 10px;
    
}

  .actual-score {
    color: vars.$dark-text;
    font-size: 3.5rem;
    font-weight: bold;

    @include vars.mobile {
      font-size: 3rem;
      
  }
  }
}
